[Unit]
Description = sonarqube Service

[Service]
User=sonar
ExecStart=/opt/sonarqube/sonarqube-10.5.1.90531/bin/linux-x86-64/sonar.sh start
SyslogIdentifier=sonarqube
Type=Working

[Install]
WantedBy=multi-user.target